/* naveagcion */
body{
    background-color: rgb(246, 246, 250);
}

/* seccion: Historia */

/* seccion: sedes-estadios */

/* seccion: figuras-premios */
h2.figuras{
    color: #007A33;
    text-align: center;
}

/*  seccion: cultura-curiosidades */

/* Resultados Finales y Footer */